@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  /* Color palette */
  --color-text-primary: #000000;
  --color-text-secondary: #434343;
  --color-text-project_primary: #FFFFFF;
  --color-bg: #F3F3F3;
  --color-button: #28292c


  --font-base: 'Sora';
  --font-size-base: 1.5rem;
  --font-size-lg: 2.25rem;
  --fonts-size-md: 1.125rem;
  --fonts-size-sm: 1rem;
  --fonst-size-xs: 0.75rem;
  
  scroll-behavior: smooth;
  /*overflow: hidden;*/
}

.light {
  --color-text-primary: #000000;
  --color-text-secondary: #434343;
  --color-text-project_primary: #FFFFFF;
  --color-bg: #F3F3F3;
  --color-button: #28292c
}

.dark {
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #F3F3F3;
  --color-text-project_primary: #FFFFFF;
  --color-bg: #121212;
  --color-button: #d8dbe0
}

body {
  font-family: var(--font-base);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  transition: background-color 0.3s, color 0.3s;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-text-primary);
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
}


.toggle-switch {
  position: relative;
  width: 50px;
  height: 25px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12.5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-box-shadow: inset 6px -2px 0px 0px var(--light);
  box-shadow: inset 6px -2px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}
